<ion-view title="Account Settings">
    <ion-content class="padding">
        <ion-item>
            <p><strong>Photo Count: {{photoCount}}</strong></p>
        </ion-item>
        <ion-item>
            <p><strong>Photo Data Used: {{photoSize}}</strong></p>
        </ion-item>
        <div class="item item-toggle">
            <strong>Save To Photo Album:</strong>
            <label class="toggle toggle-positive">
                <input type="checkbox"
                       value="{{imageSettings.saveToPhotoAlbum}}"
                       ng-model="imageSettings.saveToPhotoAlbum">

                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <div class="item item-toggle">
            <strong>Allow Edit:</strong>
            <label class="toggle toggle-positive">
                <input type="checkbox"
                       value="{{imageSettings.allowEdit}}"
                       ng-model="imageSettings.allowEdit">

                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <ion-item>
            <div>
                <p><strong>Image Quality:</strong> {{imageSettings.quality}}</p>

                <div class="range">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="imageQuality" min="0" max="100"
                           value="{{imageSettings.quality}}"
                           ng-model="imageSettings.quality">
                    <i class="icon ion-plus"></i>
                </div>

            </div>
            <div>
                <p><strong>Image Dimension:</strong> {{imageSettings.dimensions}}</p>

                <div class="range">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="imageDimension" min="200" max="550"
                           value="{{imageSettings.dimensions}}"
                           ng-model="imageSettings.dimensions">
                    <i class="icon ion-plus"></i>
                </div>
            </div>
        </ion-item>
        <div>
            <p>&nbsp;</p>
            <div class="button" ng-click="doSaveSettings()">SAVE SETTINGS</div>
        </div>
    </ion-content>
</ion-view>
